/frontend/package-lock.json filter=lfs diff=lfs merge=lfs -text
/docs/botImage/package-lock.json filter=lfs diff=lfs merge=lfs -text
/docs/botImage/yarn.lock filter=lfs diff=lfs merge=lfs -text
/docs/botImage/static/img/lambda-configuration-environment-variables.png filter=lfs diff=lfs merge=lfs -text
/docs/botImage/static/img/lambda-configuration.png filter=lfs diff=lfs merge=lfs -text
/backend/.venv/bin/shellcheck filter=lfs diff=lfs merge=lfs -text
/backend/.venv/lib/python3.11/site-packages/bcrypt/_bcrypt.abi3.so filter=lfs diff=lfs merge=lfs -text
/backend/.venv/lib/python3.11/site-packages/psycopg2/.dylibs/libcrypto.1.1.dylib filter=lfs diff=lfs merge=lfs -text
/backend/.venv/lib/python3.11/site-packages/virtualenv/seed/wheels/embed/pip-20.3.4-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
/backend/.venv/lib/python3.11/site-packages/virtualenv/seed/wheels/embed/pip-21.3.1-py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
/backend/.venv/lib/python3.11/site-packages/virtualenv/seed/wheels/embed/pip-23.0-py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
/backend/.venv/lib/python3.11/site-packages/virtualenv/seed/wheels/embed/setuptools-67.1.0-py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/@tabler/icons/dist/cjs/tabler-icons.js filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/@tabler/icons/dist/es/tabler-icons.js filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/@tabler/icons/dist/umd/tabler-icons.js filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/@tabler/icons/dist/umd/tabler-icons.min.js filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/@tabler/icons/tabler-nodes.json filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/@tabler/icons/tabler-sprite-nostroke.svg filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/@tabler/icons/tabler-sprite.svg filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/react-dom/cjs/react-dom.development.js filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/react-dom/umd/react-dom.development.js filter=lfs diff=lfs merge=lfs -text
/frontend/cucumber-report.html filter=lfs diff=lfs merge=lfs -text
