# Binaries and executables
example_tool/brainmask_model.ckpt                         filter=lfs diff=lfs merge=lfs -text
example_tool/rf_dicom_modality_classifier.onnx            filter=lfs diff=lfs merge=lfs -text
# Git lfs settings for files types
*.nii.gz filter=lfs diff=lfs merge=lfs -text
*.nii    filter=lfs diff=lfs merge=lfs -text
*.dcm    filter=lfs diff=lfs merge=lfs -text
*.pdf    filter=lfs diff=lfs merge=lfs -text
*.gz     filter=lfs diff=lfs merge=lfs -text
*.pkl.lzma filter=lfs diff=lfs merge=lfs -text
*.pt       filter=lfs diff=lfs merge=lfs -text
*.ckpt     filter=lfs diff=lfs merge=lfs -text
*.onnx     filter=lfs diff=lfs merge=lfs -text
*.h5       filter=lfs diff=lfs merge=lfs -text
*.png      filter=lfs diff=lfs merge=lfs -text
.git*            export-ignore
.hooks*          export-ignore
.mailmap         export-ignore
*.bat           -crlf
*.bin           -crlf
*.jpg           -crlf
*.mha           -crlf
*.pdf           -crlf
*.png           -crlf
*.raw           -crlf
*.sh             crlf=input
*.sh.in          crlf=input
configure        crlf=input
cvsrmvend        crlf=input
imcp             crlf=input
imglob           crlf=input
imln             crlf=input
immv             crlf=input
imrm             crlf=input
imtest           crlf=input
install-sh       crlf=input
newalpha         crlf=input
newversion       crlf=input
remove_ext       crlf=input
vxl_doxy.pl      crlf=input
zap.pl           crlf=input
# Custom attribute to mark sources as using our C++/C code style.
[attr]our-c-style  whitespace=tab-in-indent,no-lf-at-eof
*.c              our-c-style
*.h              our-c-style
*.cxx            our-c-style
*.hxx            our-c-style
*.txx            our-c-style
*.txt            whitespace=tab-in-indent,no-lf-at-eof
*.cmake          whitespace=tab-in-indent,no-lf-at-eof
# ExternalData content links must have LF newlines
*.md5            crlf=input
*.sha512         crlf=input
# https://github.com/alexkaratarakis/gitattributes/blob/master/Python.gitattributes
# Basic .gitattributes for a python repo.
# Source files
# ============
*.pxd    text diff=python
*.py     text diff=python
*.py3    text diff=python
*.pyw    text diff=python
*.pyx    text diff=python
*.pyz    text diff=python
*.pyi    text diff=python
# Jupyter notebook
*.ipynb  text
# Binary files
*.db     binary
*.p      binary
*.pkl    binary
*.pickle binary
*.pyc    binary export-ignore
*.pyo    binary export-ignore
*.pyd    binary
# Note: .db, .p, and .pkl files are associated
# with the python modules ``pickle``, ``dbm.*``,
# ``shelve``, ``marshal``, ``anydbm``, & ``bsddb``
# (among others).

/docs/botImage/static/img/lambda-configuration-environment-variables.png filter=lfs diff=lfs merge=lfs -text
/docs/botImage/static/img/lambda-configuration.png filter=lfs diff=lfs merge=lfs -text
/docs/botImage/docs/tutorial-backend/img/adding-plaintext-secret.png filter=lfs diff=lfs merge=lfs -text
/docs/botImage/docs/tutorial-backend/img/adding-rds-credentials.png filter=lfs diff=lfs merge=lfs -text
/docs/botImage/docs/tutorial-backend/img/amplify-dashboard.png filter=lfs diff=lfs merge=lfs -text
/docs/botImage/docs/tutorial-backend/img/naming-secret.png filter=lfs diff=lfs merge=lfs -text
/backend/.venv/bin/shellcheck filter=lfs diff=lfs merge=lfs -text
/frontend/public/assets/jobs.png filter=lfs diff=lfs merge=lfs -text
/docs/botImage/static/img/Engine-Options.png filter=lfs diff=lfs merge=lfs -text
/docs/botImage/static/img/Templates.png filter=lfs diff=lfs merge=lfs -text
/frontend/cucumber-report.html filter=lfs diff=lfs merge=lfs -text
/frontend/cypress/screenshots/dashboard.feature/Dashboard[[:space:]]--[[:space:]]API[[:space:]]Keys[[:space:]]Route[[:space:]](failed).png filter=lfs diff=lfs merge=lfs -text
/frontend/cypress/screenshots/dashboard.feature/Dashboard[[:space:]]--[[:space:]]Analytics[[:space:]]route[[:space:]](failed).png filter=lfs diff=lfs merge=lfs -text
/frontend/cypress/screenshots/dashboard.feature/Dashboard[[:space:]]--[[:space:]]Jobs[[:space:]]route[[:space:]](failed).png filter=lfs diff=lfs merge=lfs -text
/frontend/cypress/screenshots/home.feature/Home[[:space:]]--[[:space:]]Jobs[[:space:]]route[[:space:]](failed).png filter=lfs diff=lfs merge=lfs -text
/frontend/cypress/screenshots/login.feature/Login[[:space:]]--[[:space:]]Login[[:space:]]Success[[:space:]](failed).png filter=lfs diff=lfs merge=lfs -text
/frontend/cypress/screenshots/profile.feature/Profile[[:space:]]--[[:space:]]User[[:space:]]profile[[:space:]](failed).png filter=lfs diff=lfs merge=lfs -text
/frontend/cypress/screenshots/signup.feature/Signup[[:space:]]--[[:space:]]Create[[:space:]]a[[:space:]]New[[:space:]]User[[:space:]](failed).png filter=lfs diff=lfs merge=lfs -text
/subdir/docs/botImage/docs/tutorial-backend/img/adding-plaintext-secret.png filter=lfs diff=lfs merge=lfs -text
/subdir/docs/botImage/docs/tutorial-backend/img/adding-rds-credentials.png filter=lfs diff=lfs merge=lfs -text
/subdir/docs/botImage/docs/tutorial-backend/img/amplify-dashboard.png filter=lfs diff=lfs merge=lfs -text
/subdir/docs/botImage/docs/tutorial-backend/img/naming-secret.png filter=lfs diff=lfs merge=lfs -text
/subdir/docs/botImage/package-lock.json filter=lfs diff=lfs merge=lfs -text
/subdir/docs/botImage/static/img/Engine-Options.png filter=lfs diff=lfs merge=lfs -text
/subdir/docs/botImage/static/img/Templates.png filter=lfs diff=lfs merge=lfs -text
/subdir/docs/botImage/static/img/lambda-configuration-environment-variables.png filter=lfs diff=lfs merge=lfs -text
/subdir/docs/botImage/static/img/lambda-configuration.png filter=lfs diff=lfs merge=lfs -text
/subdir/docs/botImage/yarn.lock filter=lfs diff=lfs merge=lfs -text
/subdir/frontend/package-lock.json filter=lfs diff=lfs merge=lfs -text
/subdir/frontend/public/assets/jobs.png filter=lfs diff=lfs merge=lfs -text
/job-monitoring-app/docs/botImage/docs/tutorial-backend/img/adding-plaintext-secret.png filter=lfs diff=lfs merge=lfs -text
/job-monitoring-app/docs/botImage/docs/tutorial-backend/img/adding-rds-credentials.png filter=lfs diff=lfs merge=lfs -text
/job-monitoring-app/docs/botImage/docs/tutorial-backend/img/amplify-dashboard.png filter=lfs diff=lfs merge=lfs -text
/job-monitoring-app/docs/botImage/docs/tutorial-backend/img/naming-secret.png filter=lfs diff=lfs merge=lfs -text
/job-monitoring-app/docs/botImage/package-lock.json filter=lfs diff=lfs merge=lfs -text
/job-monitoring-app/docs/botImage/static/img/Engine-Options.png filter=lfs diff=lfs merge=lfs -text
/job-monitoring-app/docs/botImage/static/img/Templates.png filter=lfs diff=lfs merge=lfs -text
/job-monitoring-app/docs/botImage/static/img/lambda-configuration-environment-variables.png filter=lfs diff=lfs merge=lfs -text
/job-monitoring-app/docs/botImage/static/img/lambda-configuration.png filter=lfs diff=lfs merge=lfs -text
/job-monitoring-app/frontend/public/assets/jobs.png filter=lfs diff=lfs merge=lfs -text
/backend/.venv/lib/python3.11/site-packages/bcrypt/_bcrypt.abi3.so filter=lfs diff=lfs merge=lfs -text
/backend/.venv/lib/python3.11/site-packages/psycopg2/.dylibs/libcrypto.1.1.dylib filter=lfs diff=lfs merge=lfs -text
/backend/.venv/lib/python3.11/site-packages/virtualenv/seed/wheels/embed/pip-20.3.4-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
/backend/.venv/lib/python3.11/site-packages/virtualenv/seed/wheels/embed/pip-21.3.1-py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
/backend/.venv/lib/python3.11/site-packages/virtualenv/seed/wheels/embed/pip-23.0-py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
/backend/.venv/lib/python3.11/site-packages/virtualenv/seed/wheels/embed/setuptools-67.1.0-py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/@tabler/icons/dist/cjs/tabler-icons.js filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/@tabler/icons/dist/es/tabler-icons.js filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/@tabler/icons/dist/umd/tabler-icons.js filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/@tabler/icons/dist/umd/tabler-icons.min.js filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/@tabler/icons/tabler-nodes.json filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/@tabler/icons/tabler-sprite-nostroke.svg filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/@tabler/icons/tabler-sprite.svg filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/react-dom/cjs/react-dom.development.js filter=lfs diff=lfs merge=lfs -text
/backend/node_modules/react-dom/umd/react-dom.development.js filter=lfs diff=lfs merge=lfs -text
/frontend/package-lock.json filter=lfs diff=lfs merge=lfs -text
