version: "3.8"
services:
  backend :
    container_name: backend
    build:
      context: .
      dockerfile: Dockerfile_Backend
      args:
        APP_ENV: development
    ports:
      - "8000:8000"
    networks:
      - application-network
    depends_on:
      - database
    environment:
      - POSTGRES_PASSWORD=dev_password
      - POSTGRES_USER=postgres
      - POSTGRES_SERVER=database
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: Dockerfile_Frontend
    ports:
      - "3000:3000"
    networks:
      - application-network
    depends_on:
      - backend
      - database
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://backend:8000


  example_tool_light:
    container_name: brainmasktool
    build:
      context: .
      dockerfile: Dockerfile_BrainMaskTool_light
    networks:
      - application-network
    depends_on:
      - backend
      - database
      - frontend
      - orthanc
    environment:
      - POSTGRES_PASSWORD=dev_password
      - POSTGRES_USER=postgres
      - POSTGRES_SERVER=database

  orthanc:
    build:
      context: .
      dockerfile: Dockerfile_Orthanc
      args:
          APP_ENV: internal_pacs
    ports:
      - "4026:4026"
      - "8026:8026"
    networks:
      - application-network
    volumes:
      - ./orthanc:/etc/orthanc

  orthanc_receiver:
    build:
      context: .
      dockerfile: Dockerfile_OrthancReciever
      args:
          API_KEY: iv2YBLgB8X7IT3CiFyI9YYM82nA
          BACKEND_URL: http://backend:8000
          ORTHANC_URL: http://orthanc:8026
    depends_on:
      - orthanc
    networks:
        - application-network
    volumes:
      - ./internal_data:/app/internal_data


  database:
    container_name: database
    image: postgres:14
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=dev_password
      - POSTGRES_USER=postgres
    networks:
      - application-network
    volumes:
      - ./pg_data:/var/lib/postgresql/data

networks:
  application-network:
    driver: bridge
volumes:
  pg_data:
  orthanc:
