name: Backend CI Workflow
on:
  workflow_call:
env:
  POSTGRES_USER: postgres
  POSTGRES_SERVER: localhost
  POSTGRES_PORT: 5432
  POSTGRES_DB: db_test
  POSTGRES_PASSWORD: postgres
  APP_ENV: "test"
jobs:
  unit_tests:
    name: Backend unit tests
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        version: ["3.10"]
    runs-on: ${{matrix.os}}
    defaults:
      run:
        working-directory: job_monitoring_app
        shell: bash
        # Service containers to run with `runner-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.version }}
          cache: pip
      - name: Export Python Path
        run: |
          echo "Before export:"
          echo "PYTHONPATH: $PYTHONPATH"
          echo "pwd: $(pwd)"
          echo "export PYTHONPATH=$PYTHONPATH:$(pwd)" >> $GITHUB_ENV
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          echo "After export:"
          echo "PYTHONPATH: $PYTHONPATH"
      - name: Install python dependencies
        run: |
          pip install -q -r backend/requirements.txt

      - name: Database setup and build coverage file
        run: |
          touch backend/.env.test
          echo POSTGRES_USER="$POSTGRES_USER" >> .env.test
          echo POSTGRES_SERVER="$POSTGRES_SERVER" >> .env.test
          echo POSTGRES_PORT="$POSTGRES_PORT" >> .env.test
          echo POSTGRES_DB="$POSTGRES_DB" >> .env.test
          echo POSTGRES_PASSWORD="$POSTGRES_PASSWORD" >> .env.test
          echo APP_ENV="$APP_ENV">> .env.test
          python backend/tasks.py db:test:reset
          python backend/tasks.py db:test:upgrade
          alembic upgrade head


      - name: Run Tests with Coverage
        run:
            pytest --cov-report "xml:coverage.xml" --cov --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov


  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
