name: backend test workflow
on:
  workflow_call:
jobs:
  unit_tests:
    name: Backend unit tests
  strategy:
    matrix:
        python-version: [ '3.8', '3.9', '3.10' ]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend\tests

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          version: ${{ matrix.python-version }}

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Test with pytest
        run: pytest