name: Continuous integration workflow
on:
  pull_request:
    branches:
      - "main"
jobs:
  backend_lint:
    name: Backend lints
    uses: ./.github/workflows/backend-lints.yml

  backend_test:
    name: Backend tests
    needs: backend_lint
    uses: ./.github/workflows/backend-tests.yml

  cdk-infra_lint:
    name: CDK Infra Lints
    uses: ./.github/workflows/cdk-infra-lints.yml

  cdk-infra_test:
    name: CDK Infra Tests
    needs: cdk-infra_lint
    uses: ./.github/workflows/cdk-infra-tests.yml

  frontend_lint:
    name: Frontend lints
    uses: ./.github/workflows/frontend-lints.yml

  frontend_test:
    name: Frontend tests
    needs: frontend_lint
    uses: ./.github/workflows/frontend-tests.yml
