name: Continuous integration workflow
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
jobs:
  backend_ci:
    name: Backend CI
    uses: ./.github/workflows/backend-ci.yml

  trackerapi_ci:
    name: TrackerAPI CI
    uses: ./.github/workflows/trackerapi-ci.yml

  cdk-infra_ci:
    name: CDK Infra CI
    uses: ./.github/workflows/cdk-infra-ci.yml

  frontend_ci:
    name: Frontend CI
    uses: ./.github/workflows/frontend-ci.yml

  sonar_scan:
    name: Sonar
    uses: ./.github/workflows/sonar.yml
    secrets: inherit
