name: Continuous integration workflow
on:
  workflow_dispatch:
jobs:
  frontend_lint:
    name: Frontend lints
    uses: ./.github/workflows/frontend-lints.yml

  backend_lint:
      name: Backend lints
      uses: ./.github/workflows/backend-lints.yml

  backend_test:
      name: Backend tests
      uses: ./.github/workflows/backend-tests.yml



