name: frontend lint workflow
on:
  workflow_call:
jobs:
  execute_lint:
    name: Execute lint
    specify:
      matrix:
        node-version: [ '12.x', '14.x', '16.x', '18.x' ]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Run lint tests
        run: npm run lint