name: Frontend CI
on:
  workflow_call:
jobs:
  execute_lint:
    name: Execute lint
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        version: ["18.x"]
    runs-on: ${{matrix.os}}
    defaults:
      run:
        working-directory: job-monitoring-app/frontend
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}
          cache: "npm"
          cache-dependency-path: "./frontend/package-lock.json"

      - name: Install dependencies
        run: npm install

      - name: Run Build
        run: npm run build

      - name: Run lint tests
        run: npm run lint

      - name: Run build
        run: npm run build

  unit_tests:
    name: Frontend unit tests
    env:
      GITHUB_TOKEN: ${{ secrets.GH_ACTION_PERMISSIONS }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        version: ["18.x"]
    runs-on: ${{matrix.os}}
    defaults:
      run:
        working-directory: job-monitoring-app/frontend
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up node
        uses: actions/setup-node@v4.0.1
        with:
          node-version: ${{ matrix.version }}
          cache: "npm"
          cache-dependency-path: "job-monitoring-app/frontend/package-lock.json"

      - name: Install dependencies
        run: npm install

      - name: test with jest
        run: |
          npm run json-summary
          npm run coverage-report

      - name: Jest Coverage Comment
        uses: MishaKav/jest-coverage-comment@main
        with:
          coverage-summary-path: job-monitoring-app/frontend/coverage/coverage-summary.json
          title: Jest Coverage
          summary-title: Summary
          badge-title: Coverage
          hide-comment: false
          create-new-comment: false
          hide-summary: false
          junitxml-title: Junit Summary
          junitxml-path: job-monitoring-app/frontend/junit.xml
          coverage-title: Coverage Report
          coverage-path: job-monitoring-app/frontend/coverage.txt
